<link rel="stylesheet" type="text/css" href="logo.css">
	div { width: 256px; height: 192px; display: block; }
	img { width: 200px; height: 94px; }
	table { border-style:dotted; }
<link rel="stylesheet" type="text/css" href="logo.css">
